UNKNOWN {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Tahoma, sans-serif
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
.LMnuBgrd {
	BACKGROUND-POSITION: right 50%; WIDTH: 193px
}
.LMnuBase {
	WIDTH: 190px; BORDER-BOTTOM: silver 2px solid
}
.LMnuTxt {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #000000; TEXT-INDENT: 4px; FONT-FAMILY: Arial, Verdana, Helvetica, "ms sans-serif",  sans-serif; TEXT-ALIGN: left
}
.LMnuLnkTD {
	PADDING-BOTTOM: 3px
}
A.LMnuLnk {
	PADDING-LEFT: 4px; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Geneva, "MS Sans-Serif", Arial, Verdana, Helvetica, sans-serif; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.LMnuLnk:hover {
	PADDING-LEFT: 4px; FONT-SIZE: 11px; COLOR: red; FONT-STYLE: normal; FONT-FAMILY: Geneva, "MS Sans-Serif", Arial, Verdana, Helvetica, sans-serif; LETTER-SPACING: 1px; TEXT-DECORATION: underline
}
